// mixins modified from https://engageinteractive.co.uk/blog/top-10-scss-mixins
// Headers and links; not paragraph text.
@mixin font-patrick-hand($size: false, $color: false, $weight: false) {
  font-family: 'Patrick Hand SC', 'Times New Roman', serif;
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $weight { font-weight: $weight; }
}

// Paragraph text.
@mixin font-delius($size: false, $color: false, $weight: false) {
  font-family: 'Delius', 'Times New Roman', serif;
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $weight { font-weight: $weight; }
}
// end mixins modified from https://engageinteractive.co.uk/blog/top-10-scss-mixins

.loved-by {
  font-family: 'Loved by the King', cursive;
}
.delius-swash {
  font-family: 'Delius Swash Caps', cursive;
}
.gamja-flower {
  font-family: 'Gamja Flower', cursive;
}
.amatic {
  font-family: 'Amatic SC', cursive;
}